.frame {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
}

.frame .overlap-group-wrapper {
  background-color: #ffffff;
  width: 285px;
  height: 125px;
}

.frame .overlap-group {
  position: relative;
  width: 217px;
  height: 96px;
  top: 2px;
  left: 68px;
}

.frame .vector {
  position: absolute;
  width: 148px;
  height: 80px;
  top: 16px;
  left: 0;
}

.frame .text-wrapper {
  position: absolute;
  width: 20px;
  height: 25px;
  top: 44px;
  left: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .check-mark {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0;
  left: 127px;
}
