iphone-pro {
background-color: #ffffff;
width: 100%;
min-width: 393px;
min-height: 10000px;
position: relative;
}

.iphone-pro .text-wrapper {
position: absolute;
top: 32px;
left: 30px;
font-family: "Inter-Regular", Helvetica;
font-weight: 400;
color: #000000;
font-size: 12px
letter-spacing: 0;
line-height: normal;
}



. iphone pro . rectangle {
position: absolute;
top: 76px;
left: 115px;
width: 183px;
height: 149px;
background-color: #d9d9d9;
}

. iphone-pro .buttn {
position: absolute;
top: 75px;
left: 141px;
width: 105px;
height: 105px;
aspect-ratio: 1;
object-fit: cover;
}

. iphone-pro . vector {
position: absolute;
top: 134px;
left: 61px;
width: 88px;
height: 148px;
}

. iphone-pro . img {
position: absolute;
top: 42px;
left: 97px;
width: 226px;
height: 65px;
}

. iphone-pro .vector-2 {
position: absolute;
top: 180px;
left: 259px;
width: 85px;
height: 65px;
}
  . iphone-pro .vector-3 {
position: absolute;
top: 70px;
left: 40px;
width: 324px;
height: 234px;
}

. iphone-pro .buttn {
position: absolute;
top: 75px;
left: 141px;
width: 105px;
height: 105px;
aspect-ratio: 1;
boder: none;
background: transparent;
padding: 0;
cursor: pointer;
trasition: transform 0.2s ease, opacity 0.2s ease;
}

. iphone-pro .buttn:hover {
   transform: scale(1.05);
}

. iphone-pro .buttn:active {
  transform: scale(0.95);
}

. iphone-pro .buttn:focus-visible {
outline: 2px solid "4a90e2;
outline-offset: 2px;
}

. iphone-pro .buttn img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 display: block; 
}





















  
  
  
